page-general-form {
  .form-button {
    /* Display */
    display: block;
    width: 100%;
  }

  .item {
    /* Display */
    padding-right: 16px;
  }

  .scroll-content {
    /* Display */
    margin: 24px 0 0;
  }
}
