page-note-form {
  #form-container {
    /* Display */
    margin-bottom: 5%;

    /* Children */
    #textarea {
      /* Display */
      border-radius: 10px;
      padding: 1% 0;

      /* Color */
      color: map-get($colors, gray-scale-1);
      background-color: map-get($colors, gray-scale-8);
    }
    form {
      /* Display */
      width: 100%;
    }
  }
  .note-button {
    /* Display */
    width: 100%;
    min-height: 48px;
    margin: 3% 0;
    padding: 0;

    /* Text */
    font-size: 1.5em;
  }
}
