<ion-header>
  <ion-navbar>
    <ion-title>{{ title | titlecase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding
              class="sub-page">

  <ion-grid *ngIf="note">

    <!-- Form text area -->
    <ion-row id="form-container">

      <form>

        <ion-textarea [formControl]="note"
                      id="textarea"
                      rows="5"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="false">
        </ion-textarea>

      </form>

      <ng-container *ngIf="note !== null && note.errors">

        <div class="form-error">
          Please limit notes to 120 characters
        </div>

      </ng-container>

    </ion-row>

    <ion-row>

      <!-- Form cancel button -->
      <ion-col>

        <button ion-button
                color="primary"
                (click)="dismiss()"
                class="form-button">
          Cancel
        </button>

      </ion-col>

      <!-- Form submit button -->
      <ion-col>

        <button ion-button
                color="primary"
                (click)="onSubmit()"
                class="form-button">
          Submit
        </button>

      </ion-col>

    </ion-row>

    <ion-row *ngIf="formMethod === 'update'">

      <ion-col>

        <button ion-button
                color="danger"
                (click)="onDelete()"
                class="form-button">
          Delete
        </button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
