page-process-measurements-form {
  .item-md {
    /* Display */
    padding-right: 16px;
  }

  .form-button {
    /* Display */
    display: block;
    width: 100%;
  }

  input {
    /* Text */
    text-align: right;
  }
}
