<ion-header>
  <ion-navbar>
    <ion-title>Measurements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  no-padding
              class="sub-page">

  <ion-grid *ngIf="measurementsForm"
            no-padding>

    <ion-row  *ngIf="areAllRequired"
              justify-content-center
              id="heading">

        <ion-col col-12>
          Confirm Measurements
        </ion-col>

        <ion-col col-12>
          For Submission
        </ion-col>

    </ion-row>

    <ion-row>

      <form [formGroup]="measurementsForm">

        <!-- Original Gravity Input -->
        <ion-item>

          <ion-label position="floating">
            Original Gravity ({{ units.density.shortName }})
          </ion-label>

          <ion-input  formControlName="originalGravity"
                      type="number"
                      autocomplete="off">
          </ion-input>

        </ion-item>

        <!-- Error messages -->
        <form-error *ngIf="
          measurementsForm.controls['originalGravity'].touched
          && measurementsForm.controls['originalGravity'].errors
        "
                    formName="measurements"
                    controlName="originalGravity"
                    [controlErrors]="measurementsForm.controls['originalGravity'].errors">
        </form-error>


        <!-- Final Gravity Input -->
        <ion-item>

          <ion-label position="floating">
            Final Gravity ({{ units.density.shortName }})
          </ion-label>

          <ion-input  formControlName="finalGravity"
                      type="number"
                      autocomplete="off">
          </ion-input>

        </ion-item>

        <!-- Error messages -->
        <form-error *ngIf="
          measurementsForm.controls['finalGravity'].touched
          && measurementsForm.controls['finalGravity'].errors
        "
                    formName="measurements"
                    controlName="finalGravity"
                    [controlErrors]="measurementsForm.controls['finalGravity'].errors">
        </form-error>


        <!-- Batch Volume Input -->
        <ion-item>

          <ion-label position="floating">
            Batch Volume ({{ units.volumeLarge.shortName }})
          </ion-label>

          <ion-input  formControlName="batchVolume"
                      type="number"
                      autocomplete="off">
          </ion-input>

        </ion-item>

        <!-- Error messages -->
        <form-error *ngIf="
          measurementsForm.controls['batchVolume'].touched
          && measurementsForm.controls['batchVolume'].errors
        "
                    formName="measurements"
                    controlName="batchVolume"
                    [controlErrors]="measurementsForm.controls['batchVolume'].errors">
        </form-error>


        <ion-grid>

          <ion-row>

            <ion-col *ngIf="!areAllRequired">
              <!-- Form cancel button -->
              <button ion-button
                      color="primary"
                      (click)="dismiss()"
                      class="form-button">
                Cancel
              </button>

            </ion-col>

            <!-- Form submit button -->
            <ion-col>

              <button ion-button
                      color="primary"
                      (click)="onSubmit()"
                      class="form-button"
                      [disabled]="!measurementsForm.valid">
                {{ areAllRequired ? 'Submit To Inventory': 'Submit' }}
              </button>

            </ion-col>

          </ion-row>

        </ion-grid>

      </form>

    </ion-row>

  </ion-grid>

</ion-content>
