page-recipe-master-detail {
  #batch-grid {
    margin-top: 60px;
  }
  .form-button {
    width: 100%;
    margin: 5% 0;
  }
  #batch-list {
    width: 100%;
    padding: 0 !important;
    margin: 10px 0 75px;
  }
  #style-name {
    font-size: 2em;
    text-align: center;
  }
  #note-name {
    padding: 0 !important;
    button {
      ion-icon {
        padding-left: 10px;
      }
    }
  }
  .item-md.activated {
    background-color: map-get($colors, primary);
    .recipe-summary-header {
      ion-col {
        color: map-get($colors, gray-scale-2);
      }
    }
    .recipe-summary-subheader {
      ion-col {
        p {
          color: map-get($colors, gray-scale-2);
        }
      }
    }
  }
  .expand-button {
    padding: 0 10px;
    ion-label {
      margin: 13px 0 6px;
    }
  }
  .note-button {
    background-color: map-get($colors, gray-scale-8);
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
    margin: 5px 0;
  }
  .note-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  .variant-card {
    margin-bottom: 1px;
    background: map-get($colors, gray-scale-4);
    -webkit-box-shadew: inset 0 0 40px 20px map-get($colors, gray-scale-3);
    box-shadow: inset 0 0 40px 20px map-get($colors, gray-scale-3);
    ion-card-header {
      padding: 0;
    }
    ion-item-divider {
      background-color: map-get($colors, primary);
    }
    ion-item {
      color: map-get($colors, gray-scale-9);
      background-color: transparent;
    }
    ion-item:not(:last-child) {
      border-bottom: 1px solid map-get($colors, gray-scale-7);
    }
  }
  .card-divider {
    border-bottom: 0 !important;
  }
  .variant-name {
    display: block;
    color: map-get($colors, gray-scale-9);
    font-size: 1.5em;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .recipe-summary-header {
    ion-col {
      font-size: 0.8em;
      color: map-get($colors, gray-scale-9);
      flex-grow: 0;
      padding-right: 5px !important;
    }
  }
  .recipe-summary-subheader {
    ion-col {
      p {
        color: map-get($colors, gray-scale-7);
      }
    }
  }
  ion-label {
    font-size: 1.5em;
    margin: 5px 0 !important;
  }
  ion-item-options {
    border: none !important;
  }
}
