inventory {
  #search-option-list {
    /* Display */
    width: 100%;
  }

  .abv-low {
    /* Color */
    color: map-get($colors, gray-scale-10);
  }

  .abv-mid {
    /* Color */
    color: map-get($colors, primary);
  }

  .abv-high {
    /* Color */
    color: map-get($colors, secondary);
  }

  .abv-ultra {
    /* Color */
    color: map-get($colors, danger);
  }

  .expand-button {
    /* Display */
    padding-left: 0;
    border-bottom: 2px solid map-get($colors, primary) !important;

    /* Text */
    text-align: left !important;

    /* Children */
    > .item-inner {
      border: none !important;
    }
  }

  .form-button {
    /* Display */
    width: 100%;
    margin: 10px;
  }

  .ibu-low {
    /* Color */
    color: map-get($colors, gray-scale-10);
  }

  .ibu-mid {
    /* Color */
    color: #9bc484;
  }

  .ibu-high {
    /* Color */
    color: #309400;
  }

  .ibu-ultra {
    /* Color */
    color: #161312;
  }

  .inventory-card {
    /* Display */
    border: 2px solid map-get($colors, primary);
    border-radius: 5px;

    /* Color */
    background-color: map-get($colors, gray-scale-4);
  }

  .item-description {
    /* Display */
    padding: 5px;
    margin-top: 5px;
    border: 1px solid map-get($colors, gray-scale-10);
    border-radius: 3px;

    /* Children */
    > p {
      color: map-get($colors, gray-scale-8);
      font-size: 1.6rem;
    }
  }

  .item-details {
    /* Text */
    font-size: 1.1em;
  }

  .no-items {
    /* Display */
    margin: 10px;

    /* Text */
    font-size: 2rem;
  }

  .pint-icon {
    /* Display */
    padding-top: 3%;
  }

  .quantity-low {
    /* Color */
    color: map-get($colors, gray-scale-10);
  }

  .quantity-mid {
    /* Color */
    color: map-get($colors, secondary);
  }

  .quantity-high {
    /* Color */
    color: map-get($colors, danger);
  }

  .right-col {
    /* Text */
    font-weight: 500;
  }

  .srm-text {
    /* Display */
    padding-right: 5%;
  }

}
