<div class="container">

  <ion-row>

    <!-- Calendar step name -->
    <ion-col col-12>

      <!-- Toggle step description visibility -->
      <button (click)="toggleShowDescription()"
              class="button expand-button">

        <h2>
          {{ stepData.name }}
        </h2>

      </button>

    </ion-col>

    <!-- Step description -->
    <ion-col  *ngIf="isPreview || showDescription"
              col-12
              class="description">

      <p>
        {{ stepData.description }}
      </p>

    </ion-col>

    <!-- If the calendar step has been started, show information about next part(s) of step -->
    <ion-col  *ngIf="stepData['startDatetime'] !== undefined"
              col-12>

      <!-- Description of task to do at end date -->
      <p class="calendar-description">
        {{ stepData.description }}
      </p>

      <!-- List of next dates in calendar for a particular step -->
      <ion-list class="alert-list">

        <h3>Next Checks</h3>

        <ng-container *ngFor="let alert of alerts | sort:'datetime'">

          <ion-item [ngClass]="{ 'next-datetime': alert === closestAlert }">

            <!-- Alert date -->
            <p class="alert-datetime">
              {{ alert.datetime | date:'mediumDate' }}
            </p>

            <!-- TODO implement an alert description form -->
            <!-- Alert description -->
            <!-- <p  *ngIf="showDescription"
                class="alert-description">
              {{ alert.description || '' }}
            </p> -->

          </ion-item>

        </ng-container>

      </ion-list>

      <!-- Edit the calendar step -->
      <button class="change-button"
              ion-button
              (click)="changeDate()">
        Change Dates
      </button>

    </ion-col>

    <!-- Show calendar if step has not been started -->
    <calendar #calendar
              *ngIf="!isPreview && stepData['startDatetime'] === undefined"
              [data]="currentStepCalendarData">
    </calendar>

  </ion-row>

</div>
