page-recipe-detail {
  #variant-grid {
    /* Display */
    margin-bottom: 60px;
  }

  #variant-list {
    /* Display */
    width: 100%;
    padding: 0 !important;
    margin: 10px 0 75px;
  }

  #note-name {
    /* Display */
    padding: 0 !important;

    /* Children */
    > button {
      > ion-icon {
        /* Display */
        padding-left: 10px;
      }
    }
  }

  #style-name {
    /* Text */
    font-size: 2em;
    text-align: center;
  }

  .card-divider {
    /* Display */
    border-bottom: 0 !important;
  }

  .expand-button {
    /* Display */
    padding: 0 10px;

    /* Children */
    > ion-label {
      /* Display */
      margin: 13px 0 6px;
    }
  }

  .form-button {
    /* Display */
    width: 100%;
    margin: 5% 0;
  }

  .ingredient-row {
    /* Text */
    font-size: 1.2em;
    text-align: left;

    /* Children */
    > ion-col:not(:first-child) {
      /* Text */
      text-align: right;
    }
  }

  .ingredient-row:not(:last-child) {
    /* Display */
    border-bottom: 2px solid map-get($colors, gray-scale-8);
  }

  .item-md {
    /* Display */
    padding: 0;
  }

  .item-md.activated {
    /* Color */
    background-color: map-get($colors, primary);

    /* Children */
    > .recipe-summary-header {
      > ion-col {
        /* Color */
        color: map-get($colors, gray-scale-2);
      }
    }

    > .recipe-summary-subheader {
      > ion-col {
        > p {
          /* Color */
          color: map-get($colors, gray-scale-2);
        }
      }
    }
  }

  .note-button {
    /* Display */
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    margin: 5px 0;

    /* Color */
    background-color: map-get($colors, gray-scale-8);

    /* Text */
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.5em;
    text-align: left;
  }

  .note-buttons-container {
    /* Display */
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  .recipe-summary-header {
    > ion-col {
      /* Display */
      flex-grow: 0;
      padding-right: 5px !important;

      /* Color */
      color: map-get($colors, gray-scale-9);

      /* Text */
      font-size: 0.8em;
    }
  }

  .recipe-summary-subheader {
    > ion-col {
      > p {
        /* Color */
        color: map-get($colors, gray-scale-7);
      }
    }
  }

  .variant-card {
    /* Display */
    margin-bottom: 1px;
    background: map-get($colors, gray-scale-4);
    -webkit-box-shadew: inset 0 0 40px 20px map-get($colors, gray-scale-3);
    box-shadow: inset 0 0 40px 20px map-get($colors, gray-scale-3);

    /* Children */
    > ion-card-header {
      /* Display */
      padding: 0;
    }

    > ion-item {
      /* Color */
      color: map-get($colors, gray-scale-9);
      background-color: transparent;
    }

    > ion-item:not(:last-child) {
      /* Display */
      border-bottom: 1px solid map-get($colors, gray-scale-7);
    }

    > ion-item-divider {
      /* Color */
      background-color: map-get($colors, primary);
    }
  }

  .variant-name {
    /* Display */
    display: block;

    /* Color */
    color: map-get($colors, gray-scale-9);

    /* Text */
    font-size: 1.5em;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  ion-item-options {
    /* Display */
    border: none !important;
  }

  ion-label {
    /* Display */
    margin: 5px 0 !important;

    /* Text */
    font-size: 1.5em;
  }
}
