page-recipe-form {
  #submit-button {
    color: map-get($colors, gray-scale-1);
    width: 100%;
    margin-top: 15px;
  }
  #form-header {
    font-size: 1.5em;
  }
  .addition-button {
    color: map-get($colors, gray-scale-1);
    width: 100%;
  }
  .left-col {
    text-align: left;
  }
  .right-col {
    text-align: right;
  }
  .col-header {
    font-size: 1.2em;
  }
  .item-buttons,
  .item-buttons .item-inner {
    padding: 0 !important;
  }
  .item-buttons .label-md {
    height: 100%;
    margin: 0 !important;
  }
  .item-buttons .item-inner .input-wrapper .label.label-md button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1px;
  }
  .item-buttons .item-inner .input-wrapper .label.label-md button ion-grid {
    height: 100%;
  }
  .other-ingredient-description {
    text-align: left;
    white-space: normal;
  }
  .grains-button {

  }
  .hops-button {

  }
  .yeast-button {

  }
  .other-ingredient-button {

  }
  .note-item {
    background: map-get($colors, gray-scale-6);
    color: map-get($colors, gray-scale-2);
    padding: 0;
    margin: 5px 0;
    div {
      padding: 0 !important;
    }
    ion-label {
      margin: 0;
      height: 100%;
      button {
        height: 100%;
        width: 100%;
        font-size: 1em;
        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }
      }
    }
  }
  .note-operation-button-container {
    display: flex;
    justify-content: space-around;
  }
  .process-item {
    ion-label {
      display: flex;
      align-items: center;
    }
    button {
      background: transparent;
      margin-right: 5px;
    }
  }
  ion-grid {
    background: map-get($colors, gray-scale-4);
    -webkit-box-shadew: inset 0 0 40px 20px map-get($colors, gray-scale-3);
    box-shadow: inset 0 0 40px 20px map-get($colors, gray-scale-3);
  }
  ion-icon {
    font-size: 2.5em;
  }
  ion-reorder {
    margin-right: 16px;
  }
}
