about {
  #app-description {
    /* Display */
    margin-bottom: 15px;

    /* Color */
    color: map-get($colors, gray-scale-9);

    /* Text*/
    text-align: left;
  }

  a {
    /* Text */
    text-decoration: none;
  }

  ion-card {
    /* Color */
    background-color: map-get($colors, gray-scale-4) !important;
  }

  ion-card-content {
    /* Text */
    font-size: 1.3em !important;
  }

  ion-card-header {
    /* Display */
    display: flex;
    justify-content: center;

    /* Children */
    > ion-icon {
      /* Display */
      padding-right: 5%;
      align-self: center;

      /* Text */
      font-size: 1.8em;
    }

    > h2 {
      /* Display */
      align-self: center;

      /* Color */
      color: map-get($colors, primary) !important;

      /* Text*/
      font-size: 1.8em !important;
    }
  }

}
