<ion-content>

  <div>

    <ion-card>

      <!-- Card header -->

      <ion-card-header>

        <ion-icon name="beer"
                  color="primary">
        </ion-icon>

        <h2>BrewIO</h2>

      </ion-card-header>


      <!-- Card body -->

      <ion-card-content>

        <ion-grid>

          <ion-row>

            <p id="app-description">
              {{ appDescription }}
            </p>

          </ion-row>

          <ion-row justify-content-center>

            <ion-col col-12>
              App Version: {{ appVersion }}
            </ion-col>

            <ion-col col-12>
              API Version: {{ apiVersion }}
            </ion-col>

          </ion-row>

          <ion-row justify-content-center>

            <a [href]="githubURL">
              GitHub
            </a>

          </ion-row>

        </ion-grid>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
