<ion-header>
  <ion-navbar>
    <ion-title>{{ title | titlecase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding
              class="sub-page">

  <form [formGroup]="processForm">

    <!-- Step name input -->
    <ion-item>

      <ion-label floating>
        Name
      </ion-label>

      <ion-input  formControlName="name"
                  type="text"
                  autofocus>
      </ion-input>

    </ion-item>

    <!-- Step description text input -->
    <ion-item>

      <ion-label floating>
        Description
      </ion-label>

      <ion-textarea formControlName="description"
                    rows="3">
      </ion-textarea>

    </ion-item>

    <!-- Expected duration input for manual steps -->
    <ion-item *ngIf="stepType === 'manual'">

      <ion-label floating>
        Expected Duration
      </ion-label>

      <ion-input  formControlName="expectedDuration"
                  type="number">
      </ion-input>

    </ion-item>

    <!-- Duration input in minutes for timer steps and days for calendar steps -->
    <ng-container *ngIf="stepType !== 'manual'">

      <ion-item>

        <ion-label floating>
          Duration {{ stepType === 'timer' ? '(Minutes)': '(Days)' }}
        </ion-label>

        <ion-input  formControlName="duration"
                    type="number">
        </ion-input>

      </ion-item>

      <ng-container *ngIf="stepType === 'timer'">

        <!-- Toggle if timer should be split into n intervals -->
        <ion-item>

          <ion-label floating>
            Split Interval
          </ion-label>

          <ion-input  formControlName="splitInterval"
                      type="number">
          </ion-input>

        </ion-item>

        <!-- Toggle if timer is concurrent with neighboring timers -->
        <ion-item>

          <ion-label position="floating">
            Concurrent
          </ion-label>

          <ion-toggle formControlName="concurrent"
                      color="primary">
          </ion-toggle>

        </ion-item>

      </ng-container>

    </ng-container>

    <ion-grid>

      <ion-row>

        <!-- Form cancel button -->
        <ion-col>

          <button ion-button
                  color="primary"
                  (click)="dismiss()"
                  class="form-button">
            Cancel
          </button>

        </ion-col>

        <!-- Form submit button -->
        <ion-col>

          <button ion-button
                  color="primary"
                  (click)="onSubmit()"
                  class="form-button"
                  [disabled]="!processForm.valid">
            Submit
          </button>

        </ion-col>

      </ion-row>

      <!-- Delete step button -->
      <ion-row *ngIf="formMode === 'update'">

        <ion-col>

          <button ion-button
                  color="danger"
                  (click)="deleteStep()"
                  class="formButton">
            Delete
          </button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </form>

</ion-content>
