page-home {
  #batch-list {
    /* Display */
    width: 100%;
    margin: 0;
  }

  #home-container {
    /* Display */
    padding: 0;
    margin-bottom: 74px;
  }

  #home-img {
    /* Display */
    width: 100%;
    max-height: 200px;
  }

  #no-notifications {
    /* Text */
    text-align: center;
  }

  #user-buttons {
    /* Display */
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #welcome-message {
    /* Display */
    padding-left: 10px;
    padding-right: 10px;
  }

  .active-batch-summary {
    /* Text */
    text-align: center;

    /* Children */
    ion-icon {
      margin-right: 5px;
    }
  }

  .content {
    /* Display */
    margin-top: 56px;
  }

  .expand-button {
    /* Text */
    text-align: center;
  }

  .home-list {
    /* Display */
    width: 100%;
  }

  .messages-header {
    > h3 {
      /* Display */
      width: 100%;

      /* Text */
      text-align: center;
    }
  }

  .sliding-button {
    /* Display */
    margin-top: 1px !important;
  }

  .sliding-item {
    /* Display */
    border-bottom: 1px solid map-get($colors, gray-scale-6);
  }

  .user-button-container {
    /* Display */
    display: flex;
    justify-content: center;

    /* Children */
    button {
      /* Display */
      width: 100%;

      /* Color */
      color: map-get($colors, gray-scale-2);

      /* Text */
      font-size: 1.2em;
    }
  }
}
