<app-header [title]="title"></app-header>

<ion-content class="content">

  <ion-grid>

    <ion-row>
      <img id="home-img"
           src="assets/imgs/beer-glass.jpg"
           alt="A glass of beer">
    </ion-row>

    <ion-row justify-content-center>
      <h2>Welcome {{ user == null ? 'to BrewIO': user.firstname ? user.firstname: user.username }}!</h2>
    </ion-row>

    <ng-container *ngIf="user">
      <ion-row class="messages-header">
        <h3>Active Batches</h3>
      </ion-row>
      <ion-row *ngIf="activeBatches.length">
        <ion-list id="batch-list">
          <ng-container *ngFor="let batch of activeBatches">
            <ion-item-sliding class="sliding-item">
              <ion-item-options side="left">
                <button ion-button
                        color="secondary"
                        class="sliding-button"
                        (click)="dismissBatch(batch)">
                  <ion-icon name="arrow-round-back"></ion-icon>
                  Dismiss
                </button>
              </ion-item-options>

              <ion-item class="active-batch-summary">
                <ion-icon name="beer"
                          color="primary">
                </ion-icon>
                {{ getBatchName(batch) | titlecase }} • Current: {{ getBatchCurrentStep(batch) | titlecase }} • Next: {{ getBatchNextStep(batch) | titlecase }}
              </ion-item>

              <ion-item-options side="right">
                <button ion-button
                        color="primary"
                        class="sliding-button"
                        (click)="navToBrewProcess(batch)">
                  <ion-icon name="list-box"></ion-icon>
                  Go to Step
                </button>
              </ion-item-options>

            </ion-item-sliding>
          </ng-container>
        </ion-list>
      </ion-row>
      <ion-row class="messages-header">
        <h3>Notifications</h3>
      </ion-row>
      <ion-row *ngIf="!notifications.length"
               justify-content-center>
        No notifications
      </ion-row>
      <ion-row *ngIf="notifications.length">
        Notifications shown here
      </ion-row>
    </ng-container>

    <ng-container *ngIf="!user">
      <ion-row justify-content-around>
        <ion-col col-4 class="user-button-container">
          <button ion-button
                  color="primary"
                  (click)="openLogin()">
            Log In
          </button>
        </ion-col>
        <ion-col col-4 class="user-button-container">
          <button ion-button
                  color="primary"
                  (click)="openSignup()">
            Sign Up
          </button>
        </ion-col>
      </ion-row>
    </ng-container>

  </ion-grid>

</ion-content>
