progress-circle {
  .progress-circle-container {
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  .progress-circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}
