// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
@import './mixins';


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:               #40e0cf,
  secondary:             #ff9649,
  danger:                #fd4855,
  heart:                 #fe707a,
  light:                 #f4f4f4,
  dark:                  #222,
  gray-scale-1:          #161312,
  gray-scale-2:          #32302f,
  gray-scale-3:          #4a4a4a,
  gray-scale-4:          #5a5a5a,
  gray-scale-5:          #807c79,
  gray-scale-6:          #a29d9a,
  gray-scale-7:          #bab6b4,
  gray-scale-8:          #dbdbdb,
  gray-scale-9:          #f4f4f4,
  gray-scale-10:         #ffffff
);

$background-color: map-get($colors, gray-scale-2);
$toolbar-background: map-get($colors, gray-scale-2);
$tabs-background: map-get($colors, primary);
$text-color: map-get($colors, gray-scale-8);

$tabs-md-tab-text-color-active: map-get($colors, gray-scale-1);
$tabs-md-tab-text-color: map-get($colors, gray-scale-5);
$tabs-md-tab-icon-color: map-get($colors, gray-scale-5);
$tabs-md-tab-icon-color-active: map-get($colors, gray-scale-1);
$toolbar-md-title-text-color: map-get($colors, primary);

$button-md-background-color: map-get($colors, primary);
$button-md-text-color: map-get($colors, gray-scale-1);
$button-md-border-radius: 10px;
$button-md-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2),
                       0 1px 2px rgba(0, 0, 0, 0.5);

$action-sheet-md-button-font-size: 2.5rem; // 2rem
$action-sheet-md-icon-font-size: 2.6rem; // 2.4rem
$action-sheet-md-title-font-size: 2.2rem; // 1.3rem
$alert-button-font-size: 18px; // 14px
$alert-md-message-font-size: 19px; // 15px
$alert-md-sub-title-font-size: 20px; // 16px
$alert-md-title-font-size: 26px; // 22px
$badge-font-size: 1.5rem; // 1.3rem
$button-md-font-size: 1.8rem; // 1.4rem
$button-md-large-font-size: 2.3rem; // 2rem
$button-md-small-font-size: 1.5rem; // 1.3rem
$button-md-small-icon-font-size: 1.6rem; // 1.4rem
$card-md-font-size: 1.6rem; //1.4rem
$card-md-header-font-size: 1.8rem; // 1.6rem
$card-md-title-font-size: 2.6rem; // 2.4rem
$chip-icon-font-size: 20px; // 18px
$chip-md-font-size: 15px; // 13px
$font-size-base: 1.6rem; // 1.4rem
$font-size-root: 67%; // 62.5%
$h1-font-size: 2.9rem; // 2.6rem
$h2-font-size: 2.7rem; // 2.4rem
$h3-font-size: 2.5rem; // 2.2rem
$h4-font-size: 2.3rem; // 2rem
$h5-font-size: 2.1rem; // 1.8rem
$h6-font-size: 1.9rem; // 1.6rem
$item-md-body-text-font-size: 1.7rem; // 1.4rem
$item-md-font-size: 1.9rem; // 1.6rem
$list-md-header-font-size: 1.7rem; // 1.4rem
$picker-md-option-font-size: 25px; // 22px
$range-md-pin-font-size: 15px; // 12px
$refresher-icon-font-size: 33px; // 30px
$refresher-text-font-size: 19px; // 16px
$segment-button-md-font-size: 1.5rem; // 1.2rem
$tabs-md-tab-font-size: 1.4rem; // 1.2rem
$tabs-md-tab-font-size-active: 1.6rem; // 1.4rem
$toast-md-title-font-size: 1.7rem; // 1.5rem
$toolbar-md-button-font-size: 1.9rem; // 1.7rem
$toolbar-md-title-font-size: 2.2rem; // 2rem



.button-md-primary {
  color: map-get($colors, gray-scale-2) !important;
}

.button-md-secondary {
  color: map-get($colors, gray-scale-2) !important;
}

.button-md-danger {
  color: map-get($colors, gray-scale-1) !important;
}

.button-md-heart {
  color: map-get($colors, gray-scale-2) !important;
}

.tabs-md .tab-button[aria-selected=true] {
  background-color: map-get($colors, primary) !important;
}

.tabs-md .tab-button[aria-selected=false] {
  background-color: map-get($colors, gray-scale-8) !important;
}

.item-md-primary,
.item-divider-md-primary {
  color: map-get($colors, gray-scale-1) !important;
}

.action-sheet-group { overflow: auto; }

.scroll-content {
  overflow-y: auto !important;
}

.item-inner {
  box-shadow: none !important;
}

.item.item-block.item-md.item-toggle {
  height: 100%;
}

.item-checkbox {
  .item-inner {
    border: none !important;
  }
}

.left-col {
  text-align: left;
}
.right-col {
  text-align: right;
}

.toggle-md .toggle-inner {
  background-color: map-get($colors, gray-scale-4) !important;
  width: 25px !important;
  height: 25px !important;
  top: -5px !important;
  left: -2px !important;
}

.toggle-md.toggle-checked .toggle-inner {
  background-color: map-get($colors, primary) !important;
}

button {
  min-height: 48px;
}

.main-toast {
  .toast-wrapper {
    background: transparent !important;
  }
  .toast-message {
    border-radius: 8px;
    font-size: 1.25em !important;
    margin: 0 5px 6px;
    padding: 12px !important;
    text-align: center;
    color: map-get($colors, gray-scale-9) !important;
    @include background-opacity(map-get($colors, gray-scale-1), 0.9);
  }
}

.bright-toast {
  .toast-message {
    color: map-get($colors, gray-scale-1) !important;
    background-color: map-get($colors, primary) !important;
  }
}

.main-action-sheet {
  .action-sheet-title {
    text-align: center !important;
  }
  button {
    span {
      display: inline-block;
      text-align: center !important;
    }
  }
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
