// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
@import './mixins';


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:               #40e0cf,
  secondary:             #ff9649,
  danger:                #fd4855,
  heart:                 #fe707a,
  light:                 #f4f4f4,
  dark:                  #222,
  gray-scale-1:          #161312,
  gray-scale-2:          #32302f,
  gray-scale-3:          #4a4a4a,
  gray-scale-4:          #5a5a5a,
  gray-scale-5:          #807c79,
  gray-scale-6:          #a29d9a,
  gray-scale-7:          #bab6b4,
  gray-scale-8:          #dbdbdb,
  gray-scale-9:          #f4f4f4,
  gray-scale-10:         #ffffff
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


$alert-button-font-size: 18px;

$background-color: map-get($colors, gray-scale-2);

$badge-font-size: 1.5rem;

$chip-icon-font-size: 20px;

$font-size-base: 1.6rem;
$font-size-root: 67%;

$h1-font-size: 2.9rem;
$h2-font-size: 2.7rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2.3rem;
$h5-font-size: 2.1rem;
$h6-font-size: 1.9rem;

$refresher-icon-font-size: 33px;
$refresher-text-font-size: 19px;

$tabs-background: map-get($colors, primary);

$text-color: map-get($colors, gray-scale-8);

$toolbar-background: map-get($colors, gray-scale-2);


.alert-md [aria-checked=true] {
  background-color: map-get($colors, gray-scale-4);
}

.alert-md .alert-button-group {
  background-color: map-get($colors, gray-scale-2);

  .alert-button {
    background-color: transparent;
  }
}

.alert-md .alert-head {
  color: map-get($colors, primary);
  background-color: map-get($colors, gray-scale-2);
}

.alert-md .alert-radio-group {
  border: none !important;
}

.button-md-primary {
  color: map-get($colors, gray-scale-2) !important;
}

.button-md-secondary {
  color: map-get($colors, gray-scale-2) !important;
}

.button-md-danger {
  color: map-get($colors, gray-scale-1) !important;
}

.button-md-heart {
  color: map-get($colors, gray-scale-2) !important;
}

.tabs-md .tab-button[aria-selected=true] {
  background-color: map-get($colors, primary) !important;
}

.tabs-md .tab-button[aria-selected=false] {
  background-color: map-get($colors, gray-scale-8) !important;
}

.item-md-primary,
.item-divider-md-primary {
  color: map-get($colors, gray-scale-1) !important;
}

.action-sheet-group { overflow: auto; }

.scroll-content {
  overflow-y: auto !important;
}

.item-inner {
  box-shadow: none !important;
}

.item.item-block.item-md.item-toggle {
  height: 100%;
}

.item-checkbox {
  .item-inner {
    border: none !important;
  }
}

.left-col {
  text-align: left;
}
.right-col {
  text-align: right;
}

.toggle-md .toggle-inner {
  background-color: map-get($colors, gray-scale-4) !important;
  width: 25px !important;
  height: 25px !important;
  top: -5px !important;
  left: -2px !important;
}

.toggle-md.toggle-checked .toggle-inner {
  background-color: map-get($colors, primary) !important;
}

button {
  min-height: 48px;
}

.main-toast {
  .toast-wrapper {
    background: transparent !important;
  }
  .toast-message {
    border-radius: 8px;
    font-size: 1.25em !important;
    margin: 0 5px 6px;
    padding: 12px !important;
    text-align: center;
    color: map-get($colors, gray-scale-9) !important;
    @include background-opacity(map-get($colors, gray-scale-1), 0.9);
  }
}

.bright-toast {
  .toast-message {
    color: map-get($colors, gray-scale-1) !important;
    background-color: map-get($colors, primary) !important;
  }
}

.main-action-sheet {
  .action-sheet-title {
    text-align: center !important;
  }
  button {
    span {
      display: inline-block;
      text-align: center !important;
    }
  }
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$action-sheet-ios-background: map-get($colors, gray-scale-8);
$action-sheet-ios-button-font-size: 2.5rem;
$action-sheet-ios-icon-font-size: 2.6rem;
$action-sheet-ios-title-font-size: 2.2rem;

$alert-ios-background-color: map-get($colors, gray-scale-8);
$alert-ios-button-background-color: map-get($colors, gray-scale-8);
$alert-ios-button-group-justify-content: space-around;
$alert-ios-button-group-padding-start: 8px;
$alert-ios-button-text-align: center;
$alert-ios-button-text-color: map-get($colors, primary);
$alert-ios-message-font-size: 19px;
$alert-ios-radio-height: 20px;
$alert-ios-radio-icon-height: 12px;
$alert-ios-radio-icon-width: 12px;
$alert-ios-radio-label-text-color: map-get($colors, gray-scale-1);
$alert-ios-radio-label-text-color-checked: map-get($colors, primary);
$alert-ios-radio-width: 20px;
$alert-ios-sub-title-font-size: 20px;
$alert-ios-title-font-size: 26px;
$alert-ios-head-text-align: center;

$button-ios-background-color: map-get($colors, primary);
$button-ios-border-radius: 10px;
$button-ios-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7);
$button-ios-box-shadow-activated: 0 0 0 rgba(0, 0, 0, 0);
$button-ios-font-size: 1.8rem;
$button-ios-large-font-size: 2.3rem;
$button-ios-small-font-size: 1.5rem;
$button-ios-small-icon-font-size: 1.6rem;
$button-ios-text-color: map-get($colors, gray-scale-1);

$card-ios-font-size: 1.6rem;
$card-ios-header-font-size: 1.8rem;
$card-ios-title-font-size: 2.6rem;

$chip-ios-font-size: 15px;

$item-ios-body-text-font-size: 1.7rem;
$item-ios-font-size: 1.9rem;
$list-ios-header-font-size: 1.7rem;

$picker-ios-option-font-size: 25px;

$range-ios-pin-font-size: 15px;

$segment-button-ios-font-size: 1.5rem;

$tabs-ios-tab-icon-color: map-get($colors, gray-scale-5);
$tabs-ios-tab-icon-color-active: map-get($colors, gray-scale-1);
$tabs-ios-tab-font-size: 1.4rem;
$tabs-ios-tab-font-size-active: 1.6rem;
$tabs-ios-tab-text-color: map-get($colors, gray-scale-5);
$tabs-ios-tab-text-color-active: map-get($colors, gray-scale-1);

$toast-ios-title-font-size: 1.7rem;

$toolbar-ios-button-font-size: 1.9rem;
$toolbar-ios-title-font-size: 2.2rem;
$toolbar-ios-title-text-color: map-get($colors, primary);



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$action-sheet-md-background: map-get($colors, gray-scale-8);
$action-sheet-md-button-font-size: 2.5rem;
$action-sheet-md-icon-font-size: 2.6rem;
$action-sheet-md-title-font-size: 2.2rem;

$alert-md-background-color: map-get($colors, gray-scale-8);
$alert-md-button-background-color: map-get($colors, gray-scale-8);
$alert-md-button-group-justify-content: space-around;
$alert-md-button-group-padding-start: 8px;
$alert-md-button-text-align: center;
$alert-md-button-text-color: map-get($colors, primary);
$alert-md-message-font-size: 19px;
$alert-md-radio-height: 20px;
$alert-md-radio-icon-height: 12px;
$alert-md-radio-icon-width: 12px;
$alert-md-radio-label-text-color: map-get($colors, gray-scale-1);
$alert-md-radio-label-text-color-checked: map-get($colors, primary);
$alert-md-radio-width: 20px;
$alert-md-sub-title-font-size: 20px;
$alert-md-title-font-size: 26px;
$alert-md-head-text-align: center;

$button-md-background-color: map-get($colors, primary);
$button-md-border-radius: 10px;
$button-md-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7);
$button-md-box-shadow-activated: 0 0 0 rgba(0, 0, 0, 0);
$button-md-font-size: 1.8rem;
$button-md-large-font-size: 2.3rem;
$button-md-small-font-size: 1.5rem;
$button-md-small-icon-font-size: 1.6rem;
$button-md-text-color: map-get($colors, gray-scale-1);

$card-md-font-size: 1.6rem;
$card-md-header-font-size: 1.8rem;
$card-md-title-font-size: 2.6rem;

$chip-md-font-size: 15px;

$item-md-body-text-font-size: 1.7rem;
$item-md-font-size: 1.9rem;
$list-md-header-font-size: 1.7rem;

$picker-md-option-font-size: 25px;

$range-md-pin-font-size: 15px;

$segment-button-md-font-size: 1.5rem;

$tabs-md-tab-icon-color: map-get($colors, gray-scale-5);
$tabs-md-tab-icon-color-active: map-get($colors, gray-scale-1);
$tabs-md-tab-font-size: 1.4rem;
$tabs-md-tab-font-size-active: 1.6rem;
$tabs-md-tab-text-color: map-get($colors, gray-scale-5);
$tabs-md-tab-text-color-active: map-get($colors, gray-scale-1);

$toast-md-title-font-size: 1.7rem;

$toolbar-md-button-font-size: 1.9rem;
$toolbar-md-title-font-size: 2.2rem;
$toolbar-md-title-text-color: map-get($colors, primary);



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
