<app-header [title]="title"></app-header>

<ion-content>

  <ion-grid>

    <ion-row id="active-batch-summary"
             *ngIf="hasActiveBatch">
      Show active batch info here
    </ion-row>

    <ion-row id="no-active-batch-header"
             *ngIf="!hasActiveBatch">
      <h2>No Active Batches</h2>
    </ion-row>

    <ion-row justify-content-center>
      <button ion-button
              (click)="navToRecipeForm()"
              id="create-button">
        Create New Recipe Master
      </button>
    </ion-row>

    <ion-row *ngIf="masterList">
      <ion-list id="master-list">
        <ng-container *ngFor="let master of masterList; index as i">
          <ion-item-sliding>

            <ion-item-options side="left">
              <button ion-button
                      color="danger"
                      (click)="deleteMaster(master)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>

            <button detail-none
                    class="expand-button"
                    (click)="expandMaster(i)"
                    ion-item
                    lines="none">
              <ion-grid no-padding>
                <ion-row class="master-summary-header">
                  <ion-col>
                    {{ master.name }}
                  </ion-col>
                  <ion-col>
                    • {{ master.style.name }}
                  </ion-col>
                </ion-row>
                <ion-row class="master-summary-subheader">
                  <ion-col>
                    <p>
                      {{ masterRecipeList[i].batchVolume }} gal
                       • {{ masterRecipeList[i].brewingType | titlecase }}
                       • {{ masterRecipeList[i].ABV.toFixed(1) }}% ABV
                       • {{ masterRecipeList[i].IBU.toFixed(1) }} IBU
                       • {{ masterRecipeList[i].SRM.toFixed(1) }} SRM
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </button>

            <ion-item-options side="right">
              <button ion-button
                      color="primary"
                      (click)="navToBrewProcess(master)">
                <ion-icon name="beer"></ion-icon>
                Brew
              </button>
              <button ion-button
                      color="secondary"
                      (click)="navToDetails(i)">
                <ion-icon name="menu"></ion-icon>
                Details
              </button>
            </ion-item-options>

          </ion-item-sliding>
          <accordion [expanded]="showExpandedMaster(i)">
            <ion-card class="recipe-card">
              <ion-card-content>
                <ion-list *ngIf="masterRecipeList[i]">
                  <ion-item-group *ngIf="masterRecipeList[i].grains">
                    <ion-item-divider color="primary" class="card-divider">
                      Grains
                    </ion-item-divider>
                    <ion-item *ngFor="let grains of masterRecipeList[i].grains">
                      <span item-start>{{ grains.grainType.name }}</span>
                      <span item-end>{{ grains.quantity }} lbs</span>
                    </ion-item>
                  </ion-item-group>
                  <ion-item-group *ngIf="masterRecipeList[i].hops.length">
                    <ion-item-divider color="primary" class="card-divider">
                      Hops
                    </ion-item-divider>
                    <ion-item *ngFor="let hops of masterRecipeList[i].hops">
                      <span item-start>{{ hops.hopsType.name }}</span>
                      <span item-end>{{ hops.quantity }} oz</span>
                    </ion-item>
                  </ion-item-group>
                  <ion-item-group *ngIf="masterRecipeList[i].yeast.length">
                    <ion-item-divider color="primary" class="card-divider">
                      Yeast
                    </ion-item-divider>
                    <ion-item *ngFor="let yeast of masterRecipeList[i].yeast">
                      <span item-start>{{ yeast.yeastType.name }}</span>
                      <span item-end>{{ yeast.quantity }} pack</span>
                    </ion-item>
                  </ion-item-group>
                  <ion-item-group *ngIf="masterRecipeList[i].otherIngredients.length">
                    <ion-item-divider color="primary" class="card-divider">
                      Other Ingredients
                    </ion-item-divider>
                    <ion-item *ngFor="let other of masterRecipeList[i].otherIngredients">
                      <span item-start>{{ other.name }}</span>
                      <span item-end>{{ other.type }}</span>
                      <span>{{ other.description }}</span>
                    </ion-item>
                  </ion-item-group>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </accordion>
        </ng-container>
      </ion-list>
    </ion-row>

    <ion-row *ngIf="errMsg">
      <ion-col>
        {{ errMsg }}
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isLoggedIn && !masterList">
      <ion-spinner color="primary"></ion-spinner>
    </ion-row>

  </ion-grid>

</ion-content>
