page-recipe {
  #create-button {
    /* Display */
    width: 100%;
    margin: 5% 0;
  }

  #no-active-batch-header > h2 {
    /* Display */
    width: 100%;

    /* Text */
    text-align: center;
  }

  #master-list {
    /* Display */
    width: 100%;
    padding: 0 !important;
    margin: 10px 0 75px;
  }

  .card-divider {
    /* Display */
    border-bottom: 0 !important;
  }

  .content {
    /* Display */
    margin-top: 56px;
  }

  .expand-button {
    /* Display */
    padding: 0 10px;

    /* Children */
    ion-label {
      /* Display */
      margin: 13px 0 6px;
    }
  }

  .ingredient-row {
    /* Text */
    font-size: 1.2em;
    text-align: left;

    /* Children */
    ion-col:not(:first-child) {
      /* Text */
      text-align: right;
    }
  }

  .ingredient-row:not(:last-child) {
    /* Display */
    border-bottom: 2px solid map-get($colors, gray-scale-8);
  }

  .item-md {
    /* Display */
    padding: 0;
  }

  .item-md.activated {
    /* Color */
    background-color: map-get($colors, primary);

    /* Children */
    .master-summary-header {
      /* Children */
      ion-col {
        /* Color */
        color: map-get($colors, gray-scale-2);
      }
    }

    .master-summary-subheader {
      /* Children */
      ion-col {
        /* Children */
        p {
          /* Color */
          color: map-get($colors, gray-scale-2);
        }
      }
    }
  }

  .master-summary-header {
    /* Children */
    ion-col {
      /* Display */
      flex-grow: 0;
      padding-right: 5px !important;

      /* Color */
      color: map-get($colors, gray-scale-9);

      /* Text */
      font-size: 0.8em;
    }
  }

  .master-summary-subheader {
    /* Children */
    ion-col {
      /* Children */
      p {
        /* Color */
        color: map-get($colors, gray-scale-7);
      }
    }
  }

  .messages-header {
    /* Children */
    h3 {
      /* Display */
      width: 100%;

      /* Text */
      text-align: center;
    }
  }

  .recipe-card {
    /* Display */
    margin-bottom: 1px;
    background: map-get($colors, gray-scale-4);
    -webkit-box-shadow: inset 0 0 40px 20px map-get($colors, gray-scale-3);
    box-shadow: inset 0 0 40px 20px map-get($colors, gray-scale-3);

    /* Children */
    ion-card-header {
      /* Display */
      padding: 0;
    }
    ion-item-divider {
      /* Color */
      background-color: map-get($colors, primary);
    }
    ion-item {
      /* Color */
      color: map-get($colors, gray-scale-9);
      background-color: transparent;
    }
    ion-item:not(:last-child) {
      /* Display */
      border-bottom: 1px solid map-get($colors, gray-scale-7);
    }
  }

  .recipe-master-item {
    /* Display */
    margin-bottom: 10px;
  }

  .recipe-name {
    /* Display */
    display: block;
    overflow-x: hidden;

    /* Color */
    color: map-get($colors, gray-scale-9);

    /* Text */
    font-size: 1.5em;
    text-overflow: ellipsis;
  }

  ion-item-options {
    /* Display */
    border: none !important;
  }

  ion-label {
    /* Display */
    margin: 5px 0 !important;

    /* Text */
    font-size: 1.5em;
  }
}
