<ion-content class="content">

  <ion-grid>

    <ion-list *ngIf="isLoggedIn()"
              no-lines>


      <!-- Profile section -->

      <ion-row class="section-row">

        <button ion-item
                (click)="toggleExpandContent('profile')"
                class="dropdown-button">

          <ion-row  justify-content-center
                    class="expand-header">

            <h2>
              Profile
            </h2>

          </ion-row>

          <ion-row  justify-content-center
                    class="expand-hint">

            <ion-icon name="arrow-dropdown"></ion-icon>

          </ion-row>

        </button>

      </ion-row>

      <accordion [expanded]="showExpandedContent('profile')">

        <profile></profile>

      </accordion>

      <!-- Friends section -->

      <ion-row class="section-row">

        <button ion-item
                (click)="toggleExpandContent('friends')"
                class="dropdown-button">

          <ion-row  justify-content-center
                    class="expand-header">

            <h2>
              Friends
            </h2>

          </ion-row>

          <ion-row  justify-content-center
                    class="expand-hint">

            <ion-icon name="arrow-dropdown"></ion-icon>

          </ion-row>

        </button>

      </ion-row>

      <accordion [expanded]="showExpandedContent('friends')">

        <friends></friends>

      </accordion>

    </ion-list>

    <!-- Signup section -->

    <ion-row  *ngIf="!isLoggedIn()"
              class="section-row">

      <ion-col col-12>
        Log in or Sign up to view more options
      </ion-col>

      <ion-col>

        <button ion-button
                color="primary"
                (click)="openLogin()">
          Log In
        </button>

      </ion-col>

      <ion-col>

        <button ion-button
                color="primary"
                (click)="openSignup()">
          Sign Up
        </button>

      </ion-col>
      
    </ion-row>

  </ion-grid>

</ion-content>
