page-user {
  .content {
    margin-top: 56px;
  }
  #user-router-nav {
    text-align: center;
    margin: 15px 0;
  }
  #form {
    width: 100%;
    padding: 5px 0;
  }
  .profile-field-button {
    font-size: 0.8em;
    width: 100%;
    text-align: left;
    background: transparent;
    color: map-get($colors, gray-scale-8);

    span {
      font-size: 1.2em;
      padding-left: 4px;
    }
  }
  .item-md {
    padding-right: 16px;
  }
  .user-button-container {
    button {
      display: block;
      margin: 5px auto;
    }
  }
}
