page-user {
  #form {
    /* Display */
    width: 100%;
    padding: 5px 0;
  }

  #user-router-nav {
    /* Display */
    margin: 15px 0;

    /* Text */
    text-align: center;
  }

  .content {
    /* Display */
    margin-top: 56px;
  }

  .item-md {
    /* Display */
    padding-right: 16px;
  }

  .profile-field-button {
    /* Display */
    width: 100%;

    /* Color */
    background: transparent;
    color: map-get($colors, gray-scale-8);

    /* Text */
    font-size: 0.8em;
    text-align: left;

    /* Children */
    span {
      /* Display */
      padding-left: 4px;

      /* Text */
      font-size: 1.2em;
    }
  }

  .user-button-container {
    /* Children */
    button {
      /* Display */
      display: block;
      margin: 5px auto;
    }
  }
}
