<ion-content class="content">
  <!--
    show login/signup if not logged in
    show user profile
    user profile update form
  -->

  <ion-grid>

    <ng-container *ngIf="isLoggedIn()">

      <ion-row id="user-router-nav">

        <!-- TODO: implmement separate 'about' and 'friends' section cards -->
        <ion-col>
          About
        </ion-col>
        <ion-col>
          Friends
        </ion-col>
      </ion-row>
      <ion-row>

        <!-- User profile form -->
        <form id="form" [formGroup]="userForm">

          <!-- Email field (not form) -->
          <ion-item *ngIf="!isEditing('email', undefined)">

            <!-- Toggle editing mode for email -->
            <button class="profile-field-button"
                    (click)="changeEdit('email')">
              Email: <span>{{ userForm.value.email || 'NONE' }}</span>
            </button>
          </ion-item>

          <!-- Email field (form) -->
          <ion-item *ngIf="isEditing('email')">
            <ion-label floating>Email</ion-label>
            <ion-input  type="text"
                        #email
                        formControlName="email"
                        autocapitalize="off"
                        (keyup.enter)="changeEdit('email', email)"
                        (ionBlur)="changeEdit('email', email)">
            </ion-input>
          </ion-item>

          <!-- First name field (not form) -->
          <ion-item *ngIf="!isEditing('firstname')">

            <!-- Toggle editing mode for first name -->
            <button class="profile-field-button"
                    (click)="changeEdit('firstname', undefined)">
              First name: <span>{{ userForm.value.firstname }}</span>
            </button>
          </ion-item>

          <!-- First name field (form) -->
          <ion-item *ngIf="isEditing('firstname')">
            <ion-label floating>First name</ion-label>
            <ion-input type="text"
                        #firstname
                       formControlName="firstname"
                       autocapitalize="off"
                       (keyup.enter)="changeEdit('firstname', firstname)"
                       (ionBlur)="changeEdit('firstname', firstname)">
            </ion-input>
          </ion-item>

          <!-- Last name field (not form) -->
          <ion-item *ngIf="!isEditing('lastname')">

            <!-- Toggle editing mode for last name -->
            <button class="profile-field-button"
                    (click)="changeEdit('lastname', undefined)">
              Last name: <span>{{ userForm.value.lastname }}</span>
            </button>
          </ion-item>

          <!-- Last name field (form) -->
          <ion-item *ngIf="isEditing('lastname')">
            <ion-label floating>Last name</ion-label>
            <ion-input type="text"
                        #lastname
                       formControlName="lastname"
                       autocapitalize="off"
                       (keyup.enter)="changeEdit('lastname', lastname)"
                       (ionBlur)="changeEdit('lastname', lastname)">
            </ion-input>
          </ion-item>

        </form>
      </ion-row>

      <ion-row>
        <!-- TODO friends list -->
      </ion-row>

      <!-- Submit changes to user profile -->
      <ion-row *ngIf="hasValuesToUpdate()">
        <ion-col class="user-button-container">

          <!-- Button is disabled if data has not been changed -->
          <button ion-button
                  color="primary"
                  [disabled]="!userForm.valid"
                  (click)="onUpdate()">
            Update profile
          </button>
        </ion-col>
      </ion-row>

    </ng-container>

    <!-- Prompt user to login or signup if not logged in -->
    <ng-container *ngIf="!isLoggedIn()">

      <ion-row justify-content-center>
        <h2>Not logged in...</h2>
      </ion-row>

      <ion-row justify-content-around>
        <!-- Open login form modal button -->
        <ion-col col-4 class="user-button-container">
          <button ion-button
                  color="primary"
                  (click)="openLogin()">
            Log In
          </button>
        </ion-col>

        <!-- Open signup form modal button -->
        <ion-col col-4 class="user-button-container">
          <button ion-button
                  color="primary"
                  (click)="openSignup()">
            Sign Up
          </button>
        </ion-col>

      </ion-row>
    </ng-container>

  </ion-grid>

</ion-content>
