page-user {
  #form {
    /* Display */
    width: 100%;
    padding: 5px 0;
  }

  #user-router-nav {
    /* Display */
    margin: 15px 0;

    /* Text */
    text-align: center;
  }

  .content {
    /* Display */
    margin-top: 56px;
  }

  .dropdown-button {
    /* Children */
    & .item-inner {
      /* Display */
      padding: 0 !important;
    }

    > .item-inner > .input-wrapper > .label {
      /* Display */
      margin-right: 0 !important;
      margin-bottom: 0 !important;

      /* Children */
      > .expand-header {
        /* Display */
        margin-bottom: 3%;

        /* Children */
        > h2 {
          /* Display */
          margin: 0;

          /* Text */
          font-size: 1.4em;
        }
      }
    }
  }

  .expand-hint {
    /* Display */
    border-radius: 15px;

    /* Color */
    background-color: map-get($colors, primary);

    /* Children */
    ion-icon {
      /* Display */
      margin-top: -1.5%;
      margin-bottom: -2%;

      /* Color */
      color: map-get($colors, gray-scale-2);
    }
  }

  .item-md {
    /* Display */
    padding-right: 16px;
  }

  .profile-field-button {
    /* Display */
    width: 100%;

    /* Color */
    background: transparent;
    color: map-get($colors, gray-scale-8);

    /* Text */
    font-size: 0.8em;
    text-align: left;

    /* Children */
    span {
      /* Display */
      padding-left: 4px;

      /* Text */
      font-size: 1.2em;
    }
  }

  .section-row {
    /* Display */
    margin: 5% 0;
  }

  .user-button-container {
    /* Children */
    button {
      /* Display */
      display: block;
      margin: 5px auto;
    }
  }

  ion-list {
    /* Display */
    margin-bottom: 60px !important;
  }
}
