app-header {
  .toolbar-title {
    /* Display */
    padding-right: 0 !important;

    /* Text */
    text-align: left;
  }

  #log-in-icon:first-child {
    /* Text */
    font-size: 2em;
  }

  .header-button {
    /* Display */
    min-height: 40px;
    height: 40px;
  }

  .header-button-back {
    /* Display */
    min-height: 40px;
    height: 40px;
    padding: 0 5px;
    box-shadow: none;

    /* Color */
    background-color: map-get($colors, gray-scale-2);

    /* Text */
    font-size: 1.5em;
  }

  .login-header-text {
    /* Display */
    padding: 0 5px 0 0;

    /* Color */
    color: map-get($colors, primary);

    /* Text */
    text-align: right;

    /* Children */
    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
