<ion-header>
  <ion-navbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col align-self-center>
          <ion-title>{{ title }}</ion-title>
        </ion-col>
        <ion-col>
          <button ion-button
                  float-right
                  class="header-button"
                  *ngIf="!username"
                  (click)="openLogin()">
            <!-- Log In -->
            <ion-icon id="log-in-icon"
                      name="log-in">
            </ion-icon>
          </button>
          <button ion-button
                  float-right
                  class="header-button"
                  *ngIf="username && userTab"
                  (click)="logout()">
            Log out
          </button>
          <ion-row *ngIf="username && !userTab">
            <ion-col col-12
                     class="login-header-text">
              Logged in as...
            </ion-col>
            <ion-col col-12
                     class="login-header-text">
              {{ username }}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
