<ion-header>
  <ion-navbar>
    <ion-grid no-padding>
      <ion-row  justify-content-between
                no-wrap>

        <!-- Back button -->

        <ion-col  col-1
                  align-self-center
                  *ngIf="!isTabPage">
          <button ion-button
                  class="header-button-back"
                  (click)="goBack()">
            <ion-icon name="arrow-round-back"
                      color="primary">
            </ion-icon>
          </button>
        </ion-col>

        <!-- Header title -->

        <ion-col  col-6
                  align-self-center>
          <ion-title>{{ title }}</ion-title>
        </ion-col>

        <!-- Log In/Out -->

        <ion-col  col-5
                  align-self-center>

          <button ion-button
                  float-right
                  class="header-button"
                  *ngIf="!isLoggedIn()"
                  (click)="openLogin()">
            <!-- Log In -->
            <ion-icon id="log-in-icon"
                      name="log-in">
            </ion-icon>
          </button>

          <button ion-button
                  float-right
                  class="header-button"
                  *ngIf="isLoggedIn() && isUserTab()"
                  (click)="logout()">
            Log out
          </button>

          <!-- Show username when logged in -->

          <ion-row *ngIf="user && user.username && !isUserTab()">
            <ion-col col-12
                     class="login-header-text">
              Logged in as...
            </ion-col>
            <ion-col col-12
                     class="login-header-text">
              {{ user.username }}
            </ion-col>
          </ion-row>

        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
