app-header {
  #log-in-icon {
    font-size: 2em;
  }
  .login-header-text {
    text-align: right;
    padding: 0 5px 0 0;
    color: map-get($colors, primary);
  }
  .toolbar-title.toolbar-title-md {
    // padding: 0;
  }
  .header-button {
    min-height: 40px;
    height: 40px;
  }
  ion-title {
    text-align: left;
  }
}
