<ion-content>

  <ion-grid id="process-grid"
            *ngIf="selectedBatch">

    <!-- Manual Step View -->
    <ion-row *ngIf="stepType === 'manual'">

      <manual-process [stepData]="stepData"></manual-process>

    </ion-row>
    <!-- End Manual Step View -->


    <!-- Timer Step View -->
    <ion-row *ngIf="stepType === 'timer'">

      <timer-process  [batchId]="selectedBatch.cid"
                      [isPreview]="selectedBatch.process.currentStep !== viewStepIndex"
                      [stepData]="stepData">
      </timer-process>

    </ion-row>
    <!-- End Timer Step View -->


    <!-- Calendar Step View -->
    <ion-row *ngIf="stepType === 'calendar'">

      <calendar-process #calendar
                        [alerts]="alerts"
                        [isPreview]="selectedBatch.process.currentStep !== viewStepIndex"
                        [stepData]="stepData">
      </calendar-process>

    </ion-row>
    <!-- End Calendar Step View -->


    <!-- Measurement Form Open Button -->

    <ion-row  justify-content-center
              id="measurement-form-button">

      <ion-col>

        <button ion-button
                color="primary"
                (click)="openMeasurementFormModal(false)">
          Edit Measurements
        </button>

      </ion-col>

    </ion-row>

    <!-- End Measurement Form Open Button -->


    <!-- Step view navigation controls -->
    <ion-row  justify-content-between
              id="step-control-buttons">

      <!-- View previous step if not at start -->
      <ion-col>

        <button ion-button
                color="primary"
                (click)="changeStep('prev')"
                [disabled]="atViewStart">

          <ion-icon name="arrow-dropleft"
                    class="nav-process-button">
          </ion-icon>

        </button>

      </ion-col>

      <!-- Complete the step button - only if on current step -->
      <ion-col *ngIf="selectedBatch.process.currentStep === viewStepIndex
                      && (
                        stepData && stepData.type !== 'calendar'
                        || isCalendarInProgress
                      )">

        <button ion-button
                color="primary"
                (click)="completeStep()"
                class="nav-process-button">
          Done
        </button>

      </ion-col>

      <!-- Jump to current step - only if not on current step -->
      <ion-col *ngIf="selectedBatch.process.currentStep !== viewStepIndex">

        <button ion-button
                color="primary"
                (click)="goToActiveStep()"
                class="nav-process-button">
          Go To Active
        </button>

      </ion-col>

      <!-- If on calendar step and has not already been started -->
      <ion-col *ngIf="selectedBatch.process.currentStep === viewStepIndex
                      && stepData && stepData.type === 'calendar'
                      && !isCalendarInProgress">

        <button ion-button
                color="primary"
                (click)="startCalendar()"
                class="nav-process-button">
          Start
        </button>

      </ion-col>

      <!-- View next step if not at end -->
      <ion-col>

        <button ion-button
                color="primary"
                (click)="changeStep('next')"
                [disabled]="atViewEnd">

          <ion-icon class="nav-process-button"
                    name="arrow-dropright">
          </ion-icon>

        </button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
