page-process {
  #process-grid {
    /* Display */
    padding-top: 56px;
  }

  #step-control-buttons {
    /* Children */
    ion-col {
      /* Display */
      flex-grow: 0;
    }

    ion-icon {
      /* Text */
      font-size: 2em;
    }
  }

  .description {
    /* Children */
    p {
      /* Display */
      margin: 0 !important;

      /* Text */
      font-size: 1.5em;
      text-align: center;
    }
  }

  .nav-process-button {
    /* Color */
    color: map-get($colors, gray-scale-2);
  }

  .row {
    /* Display */
    justify-content: center;
  }

}
