<ion-content>

  <ion-grid id="process-grid"
            *ngIf="isBatchLoaded()">

    <!-- Manual Step View -->
    <ion-row *ngIf="isManualStepView()">

      <manual-process [stepData]="getStepData()"></manual-process>

    </ion-row>
    <!-- End Manual Step View -->


    <!-- Timer Step View -->
    <ion-row *ngIf="isTimerStepView()">

      <timer-process  [stepData]="getTimerStepData()"
                      [batchId]="getBatchId()"
                      [isPreview]="isPreview()">
      </timer-process>

    </ion-row>
    <!-- End Timer Step View -->


    <!-- Calendar Step View -->
    <ion-row *ngIf="isCalendarStepView()">

      <calendar-process #calendar
                        [stepData]="getStepData()"
                        [isPreview]="isPreview()"
                        [alerts]="getAlerts()">
      </calendar-process>

    </ion-row>
    <!-- End Calendar Step View -->


    <!-- Step view navigation controls -->
    <ion-row justify-content-between
             id="step-control-buttons">

      <!-- View previous step if not at start -->
      <ion-col>
        <button ion-button
                color="primary"
                [disabled]="atViewEnd('prev')"
                (click)="changeStep('prev')">
          <ion-icon class="nav-process-button"
                    name="arrow-dropleft"></ion-icon>
        </button>
      </ion-col>

      <!-- Complete the step button - only if on current step -->
      <ion-col *ngIf="!isPreview()
                      && (!isCalendarStepView() || isCalendarInProgress())">
        <button ion-button
                class="nav-process-button"
                color="primary"
                (click)="completeStep()">
          Done
        </button>
      </ion-col>

      <!-- Jump to current step - only if not on current step -->
      <ion-col *ngIf="isPreview()">
        <button ion-button
                class="nav-process-button"
                color="primary"
                (click)="goToActiveStep()">
          Go To Active
        </button>
      </ion-col>

      <!-- If on calendar step and has not already been started -->
      <ion-col *ngIf="!isPreview()
                      && isCalendarStepView()
                      && !isCalendarInProgress()">
        <button ion-button
                class="nav-process-button"
                color="primary"
                (click)="startCalendar()">
          Start
        </button>
      </ion-col>

      <!-- View next step if not at end -->
      <ion-col>
        <button ion-button
                color="primary"
                [disabled]="atViewEnd('next')"
                (click)="changeStep('next')">
          <ion-icon class="nav-process-button"
                    name="arrow-dropright"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
