page-inventory-form {
  .form-button {
    /* Display */
    display: block;
    margin: 20px auto 0;
  }

  .form-input {
    /* Display */
    padding-left: 0;
  }

  .scroll-content {
    /* Display */
    margin-bottom: 0;
  }

  form {
    /* Display */
    width: 100%;
  }
}
