<ion-grid no-padding>
  <ion-row *ngIf="user && activeBatches.length">
    <ion-list id="batch-list">
      <ng-container *ngFor="let batch of activeBatches">
        <ion-item-sliding #slidingItems class="sliding-item">

          <ion-item class="active-batch-summary">
            <ion-icon name="beer"
                      color="primary">
            </ion-icon>
            <div  fxFlex="grow"
                  fxLayout="column">
              <p>
                {{ getRecipeName(batch) | titlecase }} • {{ getBatchName(batch) | titlecase }}
              </p>
              <p>
                Next Step: {{ getBatchNextStep(batch) | titlecase }}
              </p>
              <p>
                Started on {{ getBatchStartDate(batch) | date:'EEEE, MMMM d' }}
              </p>
            </div>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button
                    color="secondary"
                    class="sliding-button"
                    (click)="navToBrewProcess(batch)">
              <ion-icon name="list-box"></ion-icon>
              Go to Step
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </ng-container>
    </ion-list>
  </ion-row>
  <ion-row class="no-active-message" *ngIf="!user">
    Must be logged in to view active batches
  </ion-row>
  <ion-row class="no-active-message" *ngIf="user && !activeBatches.length">
    No Active Batches
  </ion-row>
</ion-grid>
