active-batches {
  #batch-list {
    /* Display */
    width: 100%;
    margin: 0;
  }

  .active-batch-summary {
    /* Children */
    .item-inner {
      /* Display */
      padding: 0 !important;
      border-bottom: 2px solid map-get($colors, primary) !important;
    }

    ion-label {
      /* Display */
      display: flex;
      align-items: center;

      /* Children */
      div {
        /* Display */
        width: 100%;
      }

      ion-icon {
        /* Display */
        margin-right: 10px;

        /* Text */
        font-size: 2.3em;
      }

      p {
        /* Color */
        color: map-get($colors, gray-scale-8);

        /* Text */
        text-align: left;
      }

    }

  }

  .item-md {
    /* Display */
    padding: 0;
  }

  .no-active-message {
    /* Display */
    display: inline;
    align-self: center;
  }

  .no-item {
    /* Text */
    text-align: center;
  }

  .sliding-button {
    /* Display */
    margin-top: 1px !important;
  }

  .sliding-item {
    /* Display */
    border-bottom: none !important;
  }
}
